In [1]:
import pandas as pd
import numpy as np
from src.recsys_dev import rl_recommender

## Data loading

In [2]:
train_data = pd.read_csv(r'data\retailrocket\prepared\train-item-views_train_tr.txt',
                    sep='\t', nrows=100)


# Randomly fill the "event" column with values 0, 1, and 2
train_data['event'] = np.random.choice([0, 1, 2], size=len(train_data))

display(train_data.head())
display(train_data.shape)

,SessionId,Time,ItemId,Date,Datestamp,TimeO,ItemSupport,event
0,1,1.462752e+09,9654,2016-05-09,1.462752e+09,2016-05-09 00:01:15.848000+00:00,399,1
1,1,1.462752e+09,33043,2016-05-09,1.462752e+09,2016-05-09 00:02:53.912000+00:00,195,0
2,1,1.462752e+09,32118,2016-05-09,1.462752e+09,2016-05-09 00:04:03.569000+00:00,67,1
3,1,1.462752e+09,12352,2016-05-09,1.462752e+09,2016-05-09 00:05:29.870000+00:00,327,0
4,1,1.462752e+09,35077,2016-05-09,1.462752e+09,2016-05-09 00:06:30.072000+00:00,102,0

(100, 8)

In [3]:
test_data = pd.read_csv(r'data\retailrocket\prepared\train-item-views_test.txt',
                    sep='\t', nrows=40)

# Randomly fill the "event" column with values 0, 1, and 2
test_data['event'] = np.random.choice([0, 1, 2], size=len(test_data))

display(test_data.head())
display(test_data.shape)

,SessionId,Time,ItemId,Date,Datestamp,TimeO,ItemSupport,event
0,289,1.464221e+09,125013,2016-05-26,1.464221e+09,2016-05-26 00:00:18.301000+00:00,10,0
1,289,1.464222e+09,64068,2016-05-26,1.464221e+09,2016-05-26 00:14:07.735000+00:00,30,2
2,289,1.464222e+09,133346,2016-05-26,1.464221e+09,2016-05-26 00:14:38.934000+00:00,36,2
3,289,1.464222e+09,438457,2016-05-26,1.464221e+09,2016-05-26 00:18:34.305000+00:00,6,0
4,289,1.464222e+09,198930,2016-05-26,1.464221e+09,2016-05-26 00:18:48.607000+00:00,10,0

(40, 8)

## Agent training

In [4]:
# model = rl_recommender(
#     # pre processing parameters
#     n_history=3,
#     reward_dict={0:1, 1:5, 2:10},
#     # dqn
#     mode='training',
#     target_update_freq=5,
#     num_episodes = 10
#     )

In [5]:
# model.fit(train=train_data)

In [6]:
file_path = r'trained agents\dataset_not_undefined\20240605_170100 - n_hist 3 state_size 3 action_size 375734.pth'

pretrained_model = rl_recommender(mode='predicting',
                                  file_path = file_path,
                                  n_history=3,
                                  state_size=3,
                                  action_size=375734)

pretrained_model.fit(train_data)

Initializing offline training agent
Loading pretrained model from: trained agents\dataset_not_undefined\20240605_170100 - n_hist 3 state_size 3 action_size 375734.pth
Pretrained model successfully loaded